.table_container {
  clip-path: polygon(
    25.342% 2.975%,
    18.561% 2.975%,
    0.067% 2.975%,
    0.067% 99.829%,
    99.933% 99.829%,
    99.933% 2.975%,
    81.131% 2.975%,
    74.966% 2.975%,
    73.579% 0.114%,
    26.729% 0.114%,
    25.342% 2.975%
  );
}

.line {
  width: 100%;
  height: 3px;
  background: linear-gradient(
    90deg,
    rgba(97, 183, 240, 0) 0%,
    #61b7f0 16.57%,
    #fcf406 83.47%,
    rgba(252, 244, 6, 0) 100%
  );
}

.table tr:nth-child(even) {
  background: linear-gradient(
    90deg,
    rgba(97, 183, 240, 0.15) 15.84%,
    rgba(252, 244, 6, 0.15) 100%
  );
}

.table tr {
  transition: all 0.1s linear;
  cursor: pointer;
}

.table tr:hover {
  background: #fbda00;
  color: black !important;
}
.table tr:hover td {
  color: black !important;
}
.table_NA {
  background: var(
    --Linear,
    linear-gradient(90deg, #61b7f0 15.84%, #fcf406 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
