.buy_token_button {
  clip-path: polygon(
    0.556% 70.923%,
    0.556% 30.308%,
    8.188% 2%,
    91.148% 2%,
    99.444% 30.308%,
    99.444% 68.462%,
    91.148% 98%,
    8.188% 98%,
    0.556% 70.923%
  );
  background: linear-gradient(90deg, #61b7f0 15.84%, #fcf406 100%);
}

.nav_icon {
  width: 35px;
  height: 15px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.nav_icon span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #fff;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.nav_icon span:nth-child(1) {
  top: 0px;
}

.nav_icon span:nth-child(2) {
  top: 12px;
}

.nav_icon span:nth-child(3) {
  top: 23px;
}

.nav_icon.open span:nth-child(1) {
  top: 18px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

.nav_icon.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

.nav_icon.open span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
